<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AirQualityPublishConnection" connectionString="data source=.;initial catalog=AirQualityPublish;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MaxMissTimes" value="30" />
  </appSettings>
</configuration>