<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="suncere"/>
    <add key="Password" value="CNEMC!@2017Suncere"/>
    <add key="SymmetricalEncryptionKey" value="Modules!@2017Key"/>
    <add key="CityCode" value="440100"/>
    <add key="CityName" value="广州市"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICNEMCService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cityphoto.suncereltd.cn:18410/CNEMCService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICNEMCService"
          contract="CNEMCService.ICNEMCService" name="BasicHttpBinding_ICNEMCService" />
    </client>
  </system.serviceModel>
</configuration>